body {
  background-image: url('img/background/ampl.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

nav i.material-icons{
  font-size: 50px;
  margin-top: 12px;
}